@import "../base/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700');

body{
    font-family: "Cabin", sans-serif;
}