@import "../components/carousel";



.carousel-content{
    position: absolute;
    bottom: 100px;
    left: 40px;
    z-index: 10;
    @include media-md{
        left: 20px;
    }
    a {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        margin: 0 20px;
        padding: 15px 40px;
        color:black;
        border: 1px solid white;
        background-image: linear-gradient(to left, transparent, white);
        background-size: 600% 600%;
        transition: all 1s linear;

        &:hover {
            background-position: 220% 100%;
            color: #03a9f4;
            border-color: white;
        }
      
      }
      @include media-sm{
        a{
            font-size: 15px;
            padding: 5px 12px;
        }
      }
      @include media-md{
        a{
            font-size: 13px;
            padding: 5px 12px;
        }
      }
      @include media-lg{
        a{
            font-size: 15px;
            padding: 7px 15px;
        }
      }
      
}

.carousel-img{
    img{
        object-fit: cover;
        background-size: cover;
        background-position: top;
        height: 100vh;
    }
    
}