@import "../base/_variables.scss";

footer{
    
    padding: 100px 150px;
    font-size: 20px;
    background-color: $button-text-color;
    color: white;
    line-height: 50px;
    letter-spacing: 1.5px;
    @include media-lg{
        font-size: 15px;
        padding: 50px 20px;
        
    }
    @include media-md{
        font-size: 12px;
        padding: 50px 0;
    }
    @include media-sm{
        font-size: 10px;
        padding: 50px 0; 
    }
}
.footer-inner{
    justify-content: space-between;
}
.footer-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    @include media-lg{
        font-size: 35px;
    }
    @include media-md{
        font-size: 30px;
    }
    @include media-sm{font-size:  20px;}
}
.linklist{
    font-size:20px;
    a{
        &:hover{
            text-decoration: underline;
        }
    }
    @include media-lg{
        font-size: 15px;
    }
    @include media-md{
        font-size: 12px;
    }
    @include media-sm{
        font-size: 8px;
    }
}
.footer-block{
    .form-input{
        padding: 10px 15px;
        width: 70%;
        display: block;
        @include media-sm{
            padding: 3px 8px;
        }
    }
    .form-submit{
        position: relative;
        display: block;
        margin-top: 20px;
        padding: 5px 30px;
        background-color: #d4a373;
        color: white;
        &::before { 
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.2s ease-in-out;
          }
      
          &:hover::before {
            opacity: 1;
            transform: scaleX(1);
          }
      
          &:hover {
            color: #ccd5ae !important;
            z-index: 9999;
          }
          @include media-sm{
            padding: 3px 18px;
          }
    }

}