@import "../components/_header.scss";
@import "../base/_keyframes.scss";


.header{
    padding: 30px 0;
    border-bottom: 0.1px solid rgba(255, 255, 255,0.5);
    span, button{
        color: white
    }
    button{
        border: solid white;
    }
    @include media-md {
        padding: 20px 0;
    }
    @include media-sm {
        padding: 10px 0; 
    }
}

.header-fixed{
    position: fixed;
    top:0;
    z-index: 100;
}

.header-logo {
    font-size: 50px;
    font-weight: bold;
   
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;

    z-index: 1;
  
    color: transparent!important;
    background: $logo-background;
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate-logo 8s linear infinite;
    
  
    &:before {
      content: '';
      position: absolute;
      top: -5px;
      bottom: -5px;
      right: -5px;
      left: -5px;
      z-index: -1;
      background: transparent;
      filter: blur(20px);
      opacity: 1;
      transition: 0.5s;
      animation: animate-logo 8s linear infinite
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        z-index: -1;
        animation: animate-logo 8s linear infinite;
    }
    @include media-lg{
        font-size: 40px;
        padding: 4px 8px;
    }
    @include media-md{
        font-size: 30px;
        padding: 3px 6px;
    }
    @include media-sm{
        font-size: 20px;
        padding :2px 5px;
    }
}

  

.header.scrolled, .header:hover{
    background-color: rgba(237, 237, 237, 0.9);
    // background-color: black;
    transition: all 0.3s ease-in-out;
    a,button{
        color:black
    }
    button{
        border: 0.5px solid black;
    }
    .header-login{
        :first-child{
            color: black;
        }
    }
    
}

//login-signup button
.header-login{
    button{
        font-size: 15px;
        background-image: transparent;
        background-size: 600% 600%;
        border: 0.5px solid white;
        transition: all 0.2s linear;
        &:hover{
            background-position: 220% 100%;
            color: #03a9f4;
            border: 0.5px solid #03a9f4;
        }
        @include media-sm{
            font-size: 7px;
            padding: 2px 5px;
        }
        @include media-md{
            font-size: 10px;
            padding: 4px 7px;
        }
    }
    :first-child{
        font-size: 15px;
        text-decoration: underline;
        &:hover{
            color:#03a9f4!important;
        }
        @include media-sm{
            font-size: 10px;
        }
        @include media-md{
            font-size: 10px;
        }
    }
}