@import "../components/_listMovie.scss";
@import "../base/_keyframes.scss";

.list-movie {
    button {
        font-size: 30px;
        margin: 0 40px 0 0;
        padding: 15px 30px;
        @include media-sm {
          font-size: 15px;
          padding: 3px 6px;
          margin: 0 20px 0 0;
        }
        @include media-md{
            font-size: 10px;
            padding: 5px 10px;
        }
        @media screen and (min-width:768px) {
            font-size: 20px;
            padding: 13px 25px;
        } 
        }
  .active_button {
    background-color: $button-text-color;
    color: white;
    position: relative;
    
    border: solid $button-text-color;
    animation: bounce 2s linear infinite;
  }
  .none_active_button {
    border: 1px solid $button-text-color;
    
    position: relative;
    color: $button-text-color;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $button-text-color;
      opacity: 0;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.2s ease-in-out;
    }

    &:hover::before {
      opacity: 1;
      transform: scaleX(1);
    }

    &:hover {
      color: white !important;
      border:1px solid $button-text-color;
      z-index: 9999;
    }
  }
  
  }


//
.list-movie-header {
  position: relative;
  border-bottom: 2px dotted black;
}
//slider
.slick-prev,
.slick-next {
  width: 3rem !important;
  height: 3rem !important;
  &::before {
    font-size: 3rem !important;
    color: #ee3e3e !important;
    @include media-sm{
        display: none;
    }
    @include media-md{
        font-size: 2rem!important;
    }
  }
}
.list-movie {
  .slick-list {
    margin: 0 2rem !important;
    @include media-sm{
        margin:0 0.5rem !important;
    }
  }
}

.list-movie-content{
  margin-bottom: 150px;
}


//card detail
.ant-card-meta-detail > div{
    color: white!important;
    
}
.ant-card-cover{
    border-radius: 0 !important;
}
.ant-card-body {
    padding-bottom: 0 !important;
    
}
.card-buy{
    button{
        position:relative;
        display: block;
        width: 100%;
        padding:20px 0 ;
        margin:0;
        
        background-color:$button-text-color ;
        color: white;
        border: 1.5px solid $button-text-color;
        &::before { 
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.2s ease-in-out;
          }
      
          &:hover::before {
            opacity: 1;
            transform: scaleX(1);
          }
      
          &:hover {
            color: $button-text-color !important;
            border: 1.5px solid $button-text-color;
            z-index: 9999;
          }
    }
}

.card-title{
  padding: 5px 0px;
  font-size: 20px;
  border-left:1.5px solid $button-text-color ;
  border-right:1.5px solid $button-text-color ;
  span{
   color: black;
   text-transform: uppercase;
   font-weight: bold;
   
  }
  @include media-lg{
    font-size:15px;
  }
  @include media-md{
    font-size: 15px;
  }
}
