@import "../base/_variables.scss";

.cine{
    // padding: 0 30px;
    border: 1.5px solid rgba(128, 128, 128, 0.3);
    padding-top: 20px;
    
    @include media-sm{
        display: none;
    }
    @include media-md{
        overflow: scroll;
    }
    @media screen and (max-width:1350px) {
        // overflow-y: scroll;
        display: none;
    }
}

.cine-detail{
    .cine-detail-name{
        font-size:20px;
        color: #89ba4e;
        @include media-lg{
            font-size: 15px;
            width: 75%;
        }
        @include media-md{
            font-size: 10px;
        }
    }
}
.ant-tabs-tab{
    padding: 10px 50px!important;
    border-bottom: 1px solid rgba(0, 0, 0,0.3)!important;
}
.cine-detail-movie-name{
    text-transform: uppercase;
    font-size: 25px;
    color: $button-text-color;
}