.manHinh {
    border-bottom: 50px solid rgba(128, 128, 128, 0.404);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    
    height: 0;
    width: 90%;

    box-shadow: 0px 54px 32px -10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 54px 32px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 54px 32px -10px rgba(0,0,0,0.5);
  }
  .ghe{
    /* ghế thường */
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(123,122,122);
    color: #fff;
  }
  .gheDaDat{
    cursor: no-drop;
    background-color: rgb(6, 166, 172)!important
  }
  .gheDangDat{
    background-color: rgb(18,176,18)!important
  }
  .gheVip{
    background-color: rgb(228,74,8);
  }
  .gheUserDat{
    background-color: rgb(12, 8, 228);
    cursor: no-drop;
  }
  .gheKhachDat{
    background-color: rgb(145, 10, 223)!important;
    cursor: no-drop;
  }