@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

//logo keyframes
@keyframes animate-logo {
  0% {
      background-position: 0%;
      border-image-source: $logo-background;
      border-image-slice: 1;
  }
  25%{
      border-image-source: $logo-background-2;
      border-image-slice: 2
  }
  50%{
      border-image-source: $logo-background-2;
      border-image-slice: 3;
  }
  100% {
      background-position: 400%;
      border-image-source: $logo-background;
      border-image-slice: 4;
  }
  }