// store variables value here
$primary-color: #f764a3;
$logo-background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
$logo-background-2: linear-gradient(90deg, #ffeb3b, #03a9f4, #03a9f4, #f441a4);

$page-theme-color:#efefef;

$button-text-color: #598392;

//responsive
// Define breakpoints
$breakpoint-phone: 320px;
$breakpoint-phonelg: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

// Define media query mixins for each breakpoint
@mixin media-sm {
  @media (min-width: $breakpoint-phone)and (max-width:424px) { @content; }
}
@mixin media-md {
  @media (min-width: $breakpoint-phonelg) and (max-width:767px){ @content; }
}
@mixin media-lg {
  @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop){ @content; }
}
@mixin media-xl {
  @media (min-width: $breakpoint-desktop) { @content; }
}
